* {
    background-color:#2a2a2e;
    color:#fbfbfe;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.hyperlink {
    color: #4b4bff;
}

canvas {
    border: 1px solid black;
}
